{{ with .ctx }}{{/* Apply proper context from dict */ -}}
  <article class="page-list-entry{{ if $.isForeign }} foreign{{ end }} species {{ .Params.habitat | default "habitat-unknown" }}">
    {{- with .Params.images -}}
    <img src="{{ index . 0 | absURL }}" class="cover"/>
    {{- end }}
    <div>
      <header class="entry-header">
        <h2>
          {{- .Title | markdownify }}
          {{ if $.isForeign }}({{ .Language.LanguageName }}){{ end }}
          {{- if .Draft }}<sup class="entry-isdraft">&nbsp;&nbsp;[draft]</sup>{{- end }}
        </h2>
      </header>
      {{- if (ne (.Param "hideSummary") true) }}
      <div class="entry-content">
        <p>{{ .Summary | markdownify }}{{ if .Truncated }}&hellip;{{ end }}</p>
      </div>
      {{- end }}
      <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
    </div>
  </article>
{{- end }}{{/* End context */ -}}
