{{- define "main" }}

{{- $pages := $.RegularPages }}
{{- $pages = where $pages ".Params.hidden" "!=" true }}

{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = where $pages ".Params.hidden" "!=" true }}
{{- .Scratch.Set "paginator" (.Paginate $pages) }}

{{- if site.Params.profileMode.enabled }}
{{- partial "index_profile.html" . }}
{{- else if and site.Params.homeInfoParams (eq (.Scratch.Get "paginator").PageNumber 1) }}
{{- partial "home_info.html" . }}
{{- end }}

{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
   {{- partial "anchored_headings.html" .Content -}}
  {{- else }}
    {{- .Content -}}
  {{- end }}
</div>
{{- end }}

<ul class="category-grid">
{{ range (sort .Site.Taxonomies.categories ".Page.Weight") }}
  <li
    class="category-card"
    {{ with .Page.Params.colorHSL }}
    style="
      border: 1.5px solid hsl({{ . }});
      background-color: hsla({{ . }} / .25);
    "
    {{ else }}{{ errorf "Category '%s' is missing param 'colorHSL'" .Page.Title }}{{ end }}
  >
    <img
      src="{{ $.Site.BaseURL }}/{{ with .Page.Params.icon }}{{ . }}{{ else }}{{ errorf "Category '%s' is missing param 'icon'" .Page.Title }}{{ end }}"
      width="48"
      height="48"
      style="display: inline-block;"
    />
    {{ .Page.Title }}
    <a href="{{ .Page.Permalink }}" class="entry-link"></a>
  </li>
{{ end }}
</ul>

{{- end }}{{- /* end main */ -}}
