{{- define "main" }}

{{- $pages := where $.RegularPages ".Params.hidden" "!=" true }}
{{- $paginator := .Paginate $pages }}

{{- if .Title }}
<header class="page-header">
  {{ partial "breadcrumb.html" . }}
  <h1>{{ .Title | markdownify }}</h1>
  {{ partial "post_description.html" . }}
</header>
{{- end }}

{{ partial "post_content.html" (dict "ctx" .) }}

<ol class="page-list">
  {{- range $page := $paginator.Pages }}
  <li>
    <article class="page-list-entry">
      {{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) }}
      {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
      <header class="entry-header">
        <h2>
          {{- .Title | markdownify }}
          {{- if .Draft }}<sup class="entry-isdraft">&nbsp;&nbsp;[draft]</sup>{{- end }}
        </h2>
      </header>
      {{- if (ne (.Param "hideSummary") true) }}
      <div class="entry-content">
        <p>{{ .Summary | markdownify }}{{ if .Truncated }}&hellip;{{ end }}</p>
      </div>
      {{- end }}
      {{- if not (.Param "hideMeta") }}
      <footer class="entry-footer">
        {{- partial "post_metadata.html" . -}}
      </footer>
      {{- end }}
      <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
    </article>
  </li>
  {{- end }}
</ol>

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.RelPermalink }}">« {{ i18n "prev_page" }}</a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.RelPermalink }}">{{ i18n "next_page" }} »</a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- end }}{{/* end main */ -}}
