{{- define "main" }}

{{- $pages := $.RegularPages }}
{{- $pages = where $pages ".Params.hidden" "!=" true }}

{{- .Scratch.Set "paginator" (.Paginate $pages) }}
{{- if .Title }}
<header class="page-header">
{{- partial "breadcrumbs.html" . }}
<h1>{{ .Title | markdownify }}</h1>
{{- if .Description }}
<div class="post-description">
  {{ .Description | markdownify }}
</div>
{{- end }}
</header>
{{- end }}

{{ partial "post_content.html" (dict "ctx" .) }}

{{- $term := .Data.Term }}
{{- $paginator := .Scratch.Get "paginator" }}
{{- range $index, $page := $paginator.Pages }}

  {{- $class := "post-entry" }}

  {{- $user_preferred := or site.Params.disableSpecial1stPost site.Params.homeInfoParams }}
  {{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) (not $user_preferred)) }}
    {{- $class = "first-entry" }}
  {{- else if $term }}
    {{- $class = "post-entry tag-entry" }}
  {{- end }}

<article class="{{ $class }}">
  {{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
  <header class="entry-header">
    <h2>
      {{- .Title | markdownify }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h2>
  </header>
  {{- if (ne (.Param "hideSummary") true) }}
  <div class="entry-content">
    <p>{{ .Summary | markdownify }}{{ if .Truncated }}&hellip;{{ end }}</p>
  </div>
  {{- end }}
  {{- if not (.Param "hideMeta") }}
  <footer class="entry-footer">
    {{- partial "post_meta.html" . -}}
  </footer>
  {{- end }}
  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{- end }}

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">« {{ i18n "prev_page" }}</a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL | absURL }}">{{ i18n "next_page" }} »</a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- end }}{{- /* end main */ -}}
