{{- if (.Param "ShowBreadCrumbs") }}
<nav aria-label="Breadcrumb" class="breadcrumbs">
  <a href="{{ "/" | absLangURL }}">{{ i18n "home" | default "Home" }}</a>

{{- $taxonomy := "series" }}
{{- with .GetTerms $taxonomy }}
  {{- /* If the page is in a series, link to it */}}
  {{- "&nbsp;»&nbsp;" | safeHTML -}}
  {{- $taxonomyPage := site.GetPage $taxonomy }}
  <a href="{{ $taxonomyPage.RelPermalink }}">{{ $taxonomyPage.LinkTitle }}</a>
  {{- "&nbsp;»&nbsp;" | safeHTML }}
  {{- range $k, $_ := . -}}
    {{- if $k }}, {{ end -}}
    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  {{- end }}
{{- else }}
  {{- /* If the page is not in a series, link to its category */}}
  {{- $taxonomy = "categories" }}
  {{- with .GetTerms $taxonomy }}
    {{- "&nbsp;»&nbsp;" | safeHTML -}}
    {{- $taxonomyPage := site.GetPage $taxonomy }}
    <a href="{{ $taxonomyPage.RelPermalink }}">{{ $taxonomyPage.LinkTitle }}</a>
    {{- "&nbsp;»&nbsp;" | safeHTML }}
    {{- range $k, $_ := . -}}
      {{- if $k }}, {{ end -}}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{- end }}
  {{- else }}
    {{- /* If the page is not in a series nor a category, show regular breadcrimbs */}}
    {{ range (first (sub (len .Ancestors) 1) .Ancestors).Reverse }}
      {{- "&nbsp;»&nbsp;" | safeHTML -}}
      <a href="{{ .Permalink }}">{{ .LinkTitle | markdownify }}</a>
    {{- end }}
  {{- end }}
{{- end }}

</nav>
{{- end }}
