{{- $parent := "" }}
{{- $taxonomy := "series" }}
{{- with .GetTerms $taxonomy }}
  {{- /* If the page is in a series, list pages in the first series */}}
  {{- $parent = index . 0 }}
{{- else }}
  {{- /* Otherwise, list pages in the parent */}}
  {{- $parent = .Parent }}
{{- end }}
{{- $pages := partialCached "pages" $parent $parent -}}

<nav class="paginav">
  {{ if ne . (index $pages (sub (len $pages) 1)) }}
    {{ with $pages.Prev . }}
      <a class="prev" href="{{ .Permalink }}">
        <span class="nav-title">« {{ i18n "prev_page" }}</span>
        <br/>
        <span class="title">{{ .Title | markdownify }}</span>
      </a>
    {{ end }}
  {{ end }}
  {{ if ne . (index $pages 0) }}
    {{ with $pages.Next . }}
      <a class="next" href="{{ .Permalink }}">
        <span class="nav-title">{{ i18n "next_page" }} »</span>
        <br/>
        <span class="title">{{ .Title | markdownify }}</span>
      </a>
    {{ end }}
  {{ end }}
</nav>
