{{- if in (printf "%" .Params) "TODO" }}
    {{- warnf "Image has TODO: %s" .Position }}
{{- end }}

<figure{{ if or (.Get "class") (eq (.Get "align") "center") }} class="
           {{- if eq (.Get "align") "center" }}align-center {{ end }}
           {{- with .Get "class" }}{{ . }}{{- end }}"
{{- end -}}>
    <div class="img-container">
        {{- /* Start link tag */}}
        {{- if $.Get "link" }}
        <a href="{{ $.Get "link" }}"
            {{ with $.Get "target" }}target="{{ . }}"{{ end }}
            {{ with $.Get "rel" }}rel="{{ . }}"{{ end }}
        >
        {{- end }}

        <img loading="lazy" src="{{ .Get "src" }}{{- if eq (.Get "align") "center" }}#center{{- end }}"
             {{- if or (.Get "alt") (.Get "caption") }}
             alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
             {{- end -}}
             {{- with .Get "width" }} width="{{ . }}"{{ end -}}
             {{- with .Get "height" }} height="{{ . }}"{{ end -}}
        />

        {{- /* End link tag */}}
        {{- if .Get "link" }}
        </a>
        {{- end }}
    </div>

    {{- partialCached "figcaption.html" (dict
    "title" (.Get "title")
    "caption" (.Get "caption")
    "attr" (.Get "attr")
    "attrlink" (.Get "attrlink")
    "datetime" (.Get "datetime")
    ) | partial "minify.html" -}}
</figure>
