{{- $private := "" }}
{{- with .Get "private" }}
  {{- $private = . }}
{{- else }}
  {{- errorf "'private' param required: %s" $.Position }}
{{- end }}

{{- $public := "" }}
{{- with .Get "public" }}
  {{- $public = . }}
{{- end }}

{{- with $readAllowed := ($.Get "private_allowed") | default ($.Page.Param "private_allowed") }}
  {{- $currentProfiles := (site.Param "currentProfiles" | default slice) | append "_default" }}
  {{- $readDenied := ($.Get "private_denied") | default ($.Page.Param "private_denied") | default slice }}

  {{- if (partial "_access_allowed" (dict "currentProfiles" $currentProfiles "readAllowed" $readAllowed "readDenied" $readDenied)) }}
    {{- $private | partial "minify.html" }}
  {{- else }}
    {{- $public | partial "minify.html" }}
  {{- end }}
{{- else }}
  {{- errorf "'private_allowed' param required in shortcode, page param (cascade allowed) or site param: %s" $.Position }}
{{- end -}}
