{{- if .IsNamedParams -}}
  {{- with .Get "datetime" -}}
    {{- $.Scratch.Set "datetime" . -}}
  {{- else -}}
    {{- errorf "Param 'datetime' or unnamed param mandatory. %s" .Position -}}
  {{- end -}}
{{- else -}}
  {{- with .Get 0 -}}
    {{- $.Scratch.Set "datetime" . -}}
  {{- else -}}
    {{- errorf "Param 'datetime' or unnamed param mandatory. %s" .Position -}}
  {{- end -}}
{{- end -}}

{{- with .Inner -}}
  <time datetime="{{ $.Scratch.Get "datetime" }}">{{ (. | markdownify) }}</time>
{{- else -}}
  <time datetime="{{ $.Scratch.Get "datetime" }}">{{ $.Scratch.Get "datetime" | time.Format ":date_long" }}</time>
{{- end -}}
