.post-single {
  display: grid;
  grid-template-columns: 100%;
  gap: calc(var(--gap) * 1.5);
}

.post-single,
.post-content {
  line-height: 1.6;
}

.post-header {
  line-height: initial;
  display: grid;
  gap: 0.5rem;
}

.post-title {
  font-size: 2em;
}

.post-meta {
  color: var(--secondary);
}

.post-meta {
  font-size: small;
}

.post-meta .i18n_list li {
  display: inline-flex;
  list-style: none;
  margin: auto 3px;
  box-shadow: 0 1px 0 var(--secondary);
}

.list.dot-separated {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list.dot-separated > li:not([hidden]) {
  display: inline;
}
.list.dot-separated > li:not([hidden]) ~ li::before {
  content: " · ";
}

.post-content {
  color: var(--content);
}

.post-content > *:first-child {
  margin-top: 0;
}

/* Fix margin of first headers in links */
.post-content > *:first-child *:first-child {
  margin-top: 0;
}

.post-content > * + *,
.post-content details.collapse > * + * {
  margin-top: var(--content-gap);
}

.post-content details.collapse > *:not(summary) {
  margin-inline-start: var(--gap);
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin: 1em auto calc(1em / 2);
}

.post-content h1,
.post-single h1 {
  font-size: 2.1em;
  font-weight: 800;
}

.post-content h2 {
  font-size: 1.9em;
  font-weight: 800;
}

.post-content h3 {
  font-size: 1.7em;
  font-weight: 650;
}

.post-content h4 {
  font-size: 1.5em;
  font-weight: 500;
}

.post-content h5 {
  font-size: 1.3em;
  font-weight: 400;
}

.post-content h6 {
  font-size: 1.1em;
  font-weight: 400;
}

.post-content a,
.post-description a,
.toc a:hover {
  text-decoration: underline;
}

.post-content a code {
  margin: auto 0;
  border-radius: 0;
  box-shadow: 0 -1px 0 var(--primary) inset;
}

.post-content del {
  text-decoration: none;
  background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0
    50%/1px 1px repeat-x;
}

.post-content li ul,
.post-content li :last-of-type {
  margin-bottom: 0;
}

.post-content ol,
.post-content ul {
  padding-inline-start: 20px;
}

.post-content li {
  margin-top: 5px;
}

.post-content li p {
  margin-bottom: 0;
}

.post-content dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.post-content dt {
  width: 25%;
  font-weight: 700;
}

.post-content dd {
  width: 75%;
  margin-inline-start: 0;
  padding-inline-start: 10px;
}

.post-content dd ~ dd,
.post-content dt ~ dt {
  margin-top: 10px;
}

.post-content table {
  margin-bottom: 32px;
}

.post-content table th,
.post-content
  table:not(.highlighttable, .highlight table, .gist .highlight)
  td {
  min-width: 80px;
  padding: 12px 8px;
  line-height: 1.5;
  border-bottom: 1px solid var(--border);
}

.post-content table th {
  font-size: 14px;
  text-align: start;
}

.post-content table:not(.highlighttable) td code:only-child {
  margin: auto 0;
}

.post-content .highlight table {
  border-radius: var(--radius);
}

.post-content .highlight:not(table) {
  margin: 10px auto;
  background: var(--hljs-bg) !important;
  border-radius: var(--radius);
}

.post-content li > .highlight {
  margin-inline-end: 0;
}

.post-content ul pre,
.post-content ol pre {
  margin-inline-start: calc(var(--gap) * -2);
}

.post-content .highlight pre {
  margin: 0;
}

.post-content .highlighttable {
  table-layout: fixed;
}

.post-content .highlighttable td:first-child {
  width: 40px;
}

.post-content .highlighttable td .linenodiv {
  padding-inline-end: 0 !important;
}

.post-content .highlighttable td .highlight,
.post-content .highlighttable td .linenodiv pre {
  margin-bottom: 0;
}

.post-content .highlighttable td .highlight pre code::-webkit-scrollbar {
  display: none;
}

.post-content code {
  margin: auto 4px;
  padding: 4px 6px;
  font-size: 0.78em;
  line-height: 1.5;
  background: var(--code-bg);
  border-radius: 2px;
}

.post-content pre code {
  display: block;
  margin: auto 0;
  padding: 10px;
  color: rgb(213, 213, 214);
  background: var(--hljs-bg) !important;
  border-radius: var(--radius);
  overflow-x: auto;
  word-break: break-all;
}

@supports (text-wrap: pretty) {
  .post-content pre code {
    text-wrap: pretty;
    word-break: break-word;
  }
}

.post-content pre code .hl {
  color: #444;
}

.post-content blockquote {
  margin: 20px 0;
  padding-inline-start: 1em;
  border-inline-start: 3px solid var(--primary);
}

.post-content hr {
  margin: calc(var(--content-gap) * 2) 0;
  height: 2px;
  background: var(--tertiary);
  border: 0;
}

.post-content iframe,
.post-content video {
  max-width: 100%;
}

.post-content img,
.post-content video {
  border-radius: 4px;
  min-height: 200px;
  min-width: 200px;
  max-height: 50vh;
  object-fit: cover;
}

.post-content figure {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post-content figure.align-center {
  align-items: center;
  text-align: center;
}

.post-content figure > figcaption {
  color: var(--primary);
  font-size: 0.9em;
  /* Make sure figcaption isn't too large */
  max-width: 30rem;
}

.post-content figure > figcaption .title {
  font-size: 1em;
  font-weight: bold;
}

.post-content figure > figcaption .meta {
  color: var(--secondary);
}

.post-content figure .img-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.post-content figure .img-container .actions-container {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  margin: 0.5rem;
  display: flex;
  gap: 0.25rem;
  text-decoration: none;
}

.post-content figure .img-container .actions-container > * {
  backdrop-filter: invert(50%) blur(10px);
  -webkit-backdrop-filter: invert(50%) blur(10px);
  border-radius: 25%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
}

.post-content figure .img-container .actions-container svg {
  filter: invert(100%);
  margin: auto;
}

.post-content .gallery {
  display: flex;
  gap: var(--content-gap);
  flex-wrap: wrap;
  margin-left: calc((var(--main-width) - 100vw) / 2);
  margin-right: calc((var(--main-width) - 100vw) / 2);
  justify-content: center;
}

.post-content .gallery > * {
  margin-bottom: 0;
}

.toc {
  border: 1px solid var(--border);
  background: var(--code-bg);
  border-radius: var(--radius);
  padding: calc(var(--gap) / 4) calc(var(--gap) / 2);
}

.dark .toc {
  background: var(--entry);
}

.toc summary {
  font-weight: 500;
}

.toc ol {
  list-style: circle;
}

.toc li ul,
.toc li ol {
  margin-inline-start: 0;
  padding-inline-start: 1em;
}

.post-footer {
  display: grid;
  gap: calc(var(--gap) / 2);
}

/* .post-single .tags .page-count {
    display: none;
} */

.share-buttons {
  display: flex;
  gap: calc(var(--gap) / 4);
  list-style: none;
}

.share-buttons,
.paginav {
  border-radius: var(--radius);
  background: var(--code-bg);
  border: 1px solid var(--border);
}

.paginav a:hover {
  text-decoration: none;
}

.paginav a:hover .title {
  text-decoration: underline;
}

.paginav a:hover {
  background: var(--border);
}

.share-buttons {
  justify-content: center;
  padding: 0.5em 1em;
}

.share-buttons a {
  display: block;
}

.share-buttons a,
.share-buttons a svg {
  width: 1.5em;
  height: 1.5em;
}

.share-buttons a svg {
  fill: currentColor;
  transition: transform 0.1s;
}

.share-buttons svg:active {
  transform: scale(0.96);
}

a.heading-link {
  text-decoration: none;
  line-height: 1;
}

a.heading-link svg {
  /* display: inline-block; */
  color: var(--secondary);
  /* `margin-inline-start` is here to ensure that the heading is still hovered
       when switching from the heading text to the anchor */
  margin-inline-start: 8px;
}

.heading-link .anchor {
  vertical-align: middle;
}

@media (pointer: fine) {
  .heading-link .anchor {
    display: none;
  }

  *:hover > .heading-link .anchor {
    display: inline-block;
  }
}

.post-content :not(table) ::-webkit-scrollbar-thumb {
  border: 2px solid var(--hljs-bg);
  background: rgb(113, 113, 117);
}

.post-content :not(table) ::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 163, 165);
}

.gist table::-webkit-scrollbar-thumb {
  border: 2px solid rgb(255, 255, 255);
  background: rgb(173, 173, 173);
}

.gist table::-webkit-scrollbar-thumb:hover {
  background: rgb(112, 112, 112);
}

.post-content table::-webkit-scrollbar-thumb {
  border-width: 2px;
}

.footnotes ol {
  margin-bottom: 0;
}

.paginav {
  display: flex;
  line-height: 30px;
  border-radius: var(--radius);
}

.paginav a {
  padding-inline-start: 14px;
  padding-inline-end: 14px;
  border-radius: var(--radius);
  text-decoration: none;
}

.paginav .nav-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: small;
  color: var(--secondary);
}

.paginav .prev,
.paginav .next {
  width: 50%;
}

.paginav .next {
  margin-inline-start: auto;
  text-align: right;
}

[dir="rtl"] .paginav .next {
  text-align: left;
}
