.buttons {
  display: flex;
  justify-content: center;
}

.main .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap);
  min-height: min(30em, 40vw);
  margin: var(--gap) auto;
  text-align: center;
  max-width: 32rem;
}

.profile img {
  margin: 0 auto;
  border-radius: 50%;
  align-content: center;
  border: 2px solid var(--border);
}

.buttons {
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
}

.button {
  background: var(--tertiary);
  border-radius: var(--radius);
  margin: 8px;
  padding: 6px;
  transition: transform 0.1s;
}

.button-inner {
  padding: 0 8px;
}

.button:active {
  transform: scale(0.96);
}
