.terms-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--content-gap);
    font-weight: 500;
    list-style: none;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--tertiary);
    border-radius: 6px;
    transition: transform 0.1s;
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}
